main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.billing-form {
  position: relative;
  border: 2px solid #113340;
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-top: 25px;
  margin-bottom: 25px;
}

.billing-info, .card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 60px;
}

.billing-info {
  margin-bottom: 25px;
}

.billing-info label, .card-info label {
  margin-top: 10px;
}

.city-and-zip {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5px;
}

.billing-form input, .billing-form select {
  height: 48px;
  border: 1px solid;
}

.visa {
  display: grid;
  grid-template-columns: 2fr auto;
  gap: 10px;
}

.visa img {
  height: 100%;
}

.visa .card-nuber {
  width: 100%;
}

.cvv {
  width: 150px;
}




.checkout-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  text-decoration: none;
  width: 70%;
  height: 48px;
  background-color: white;
  color: #113340;
  border: 4px solid var(--main-yellow-color);
  font-size: 18px;
  font-weight: bold;
}

.checkout-btn:hover {
  background-color: var(--main-yellow-color);
  cursor: pointer;
}

.error-msg {

  color: red;
  position: absolute;
  height: 48px;
  padding: 25px 20px;
  box-sizing: border-box;
  display: none;
  align-items: center;
  background-color: rgb(255, 232, 232);
  bottom: 70px;
  left: 50%;
  transform: translate(-50%);
}

.billing-succsess {
  display: flex;
  flex-direction: column;
  border: 2px solid #113340;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
}

.billing-succsess img {
  max-width: 80px;
  margin-bottom: 50px;
}
.billing-succsess a {
  width: 80%;
  height: 48px;
  text-align: center;
  padding: 10px 0px;
  box-sizing: border-box;
  text-decoration: none;
  margin-bottom: 25px;
  margin-top: 25px;
  box-shadow: var(--main-shadow);
}

.billing-succsess h1 {
  margin-top: 25px;
  text-align: center;
}