.shopping-cart {
  width: 100%;
  min-width: 300px;
  height: fit-content;
  border: 1px solid black;
  margin: auto;
}

.cart-product-img {
  height: 75px;
  margin: 10px;
}

.cart-info {
  display: none;
  border-top: 3px solid var(--main-gray-color);
}

.cart-info h4 {
  margin: 5px;
}

.cart-product {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  border-bottom: 2px solid var(--main-gray-color);
  border-top: 2px solid var(--main-gray-color);
}

.shopping-cart h3 {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cart-text p {
  margin-top: 5px;
}

.shopping-cart h4 {
  font-size: 14px;
}

.cart-content h1 {
  text-align: center;
}

.cart-amount-img {
  margin: 5px;
}

.cart-product-price {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.cart-total {
  position: relative;
  display: flex;
  border-bottom: 3px solid var(--main-gray-color);
}

.cart-total h4 {
  margin: 5px;
}

.cart-total h3 {
  position: absolute;
  right: 5px;
}

.cart-btn {
  margin: 5px;
  display: flex;
  position: relative;
}

.cart-btn a {
  display: inline-block;
  height: 40px;
  text-align: center;
  margin-left: 5px;
  text-decoration: none;
  width: 150px;
  box-sizing: border-box;
  padding: 5px;
}

.checkout {
  position: absolute;
  right: 5px;
}
