main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.cart-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1350px;
  margin: 15px;
  gap: 10px;
}



.shopping-cart {
  position: relative;
  width: 100%;
  min-width: 300px;
  box-sizing: border-box;
  padding: 0px 30px;
  border: 2px solid var(--main-blue-color);
  display: flex;
  flex-direction: column;
  padding: 15px;
}


.cart-product-img {
  height: 75px;
  margin: 10px;
}

.cart-info {
  display: none;
  border-top: 3px solid var(--main-gray-color);
}

.cart-info h4 {
  margin: 5px;
}

.cart-product {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  border-bottom: 2px solid var(--main-gray-color);
  border-top: 2px solid var(--main-gray-color);
}

.shopping-cart h3 {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cart-text p {
  margin-top: 5px;
}

.cart-content {
  margin-top: 50;
}

.cart-amount-img {
  margin: 5px;
}

.cart-product-price {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.cart-total {
  position: relative;
  display: flex;
  border-bottom: 3px solid var(--main-gray-color);
}

.cart-total h4 {
  margin: 5px;
}

.cart-total h3 {
  position: absolute;
  right: 5px;
}

.cart-btn {
  margin: 5px;
  margin-top: 25px;
  display: flex;
  position: relative;
}

.cart-btn a {
  display: inline-block;
  height: 40px;
  text-align: center;
  margin-left: 5px;
  text-decoration: none;
  width: 150px;
  box-sizing: border-box;
  padding: 5px;
}

.checkout {
  position: absolute;
  right: 5px;
}

.pursher {
  border: 2px solid var(--main-blue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 15px;
  position: relative;
  height: 380px;
}

.billing-succsess {
  border: 2px solid var(--main-blue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 15px;
  position: relative;
  height: 380px;
}

.content-wrapper, .burtton-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressbar {
  width: 100%;
  height: 30px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  padding: 5px;
  top: 5px;
}

.stage1 {
  justify-content: center;
}

.bar {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 4px solid var(--main-blue-color);

}

.active {
  background-color: var(--main-yellow-color);
}

.stage1, .stage2, .stage3, .stage4 {
  display: none;
}


@media (max-width: 1000px) {
  .cart-wrapper {
    display: flex;
    flex-direction: column;
  }

  .pursher {
    max-width: none;
  }
}

.billing-info, .card-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  gap: 5px;
}

.billing-info input, .card-info input {
  height: 20px;
}

.card-info img {
  height: 26px;
}
.visa {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px;
}

.city-and-zip {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5px;
}

.buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 30px;
  bottom: 15px;
  width: 346px;
}



.billing-succsess img {
  max-width: 80px;
  margin-bottom: 20px;
}
.billing-succsess a {
  height: 48px;
  text-align: center;
  padding: 10px 0px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: var(--main-shadow);
  width: 200px;
  margin-top: 25px;
}

.billing-succsess h1 {
  margin-top: 25px;
  text-align: center;
}