.product {
  display: flex;
  position: relative;
  box-shadow: var(--main-shadow);
}

.product img {
  box-sizing: border-box;
  height: 200px;
  margin: 5px;
  padding-bottom: 50px;
}

.product-text {
  margin-right: 10px;
  max-height: 150px;
  overflow: hidden;
}

.product-price {
  position: absolute;
  display: flex;
  bottom: 5px;
  left: 5%;
}

.product-price h2,
h4 {
  margin: 10px;
}

.product-cta {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 90px;
}

.on-sale h4 {
  text-decoration: line-through;
  font-weight: 400;
}

.on-sale h2 {
  color: var(--main-yellow-color);
}
