/*global*/
body {
  margin: 0;
  min-width: 1200px;
  font-family: "Montserrat";
  box-sizing: border-box;
  display: grid;
}

/*header and footer*/
header,
footer {
  width: 100%;
  height: 112px;
  background-color: #113340;
}

header {
  position: sticky;
  top: 0;
  opacity: 0.95;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.top-header {
  max-width: 1370px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  float: left;
  padding: 0px;
  margin-bottom: 0;
  height: 116px;
}

.logo img {
  width: 215px;
  height: 116px;
}

header ul {
  float: right;
  margin: 0;
  padding: 0;
  height: 116px;
}

header ul img {
  width: 46px;
  height: 42px;
}

header ul li {
  display: inline-block;
  height: 75px;
  margin: 30px;
  margin-right: 0;
}

header ul li a {
  float: left;
  color: #ccd9cc;
  text-decoration: none;
}

/*sub-menu*/
.sub-menu {
  clear: both;
  width: 100%;
  height: 53px;
  background-color: #ccd9cc;
  box-shadow: 0px 4px 4px gray;
  margin: 0;
}

.sub-menu ul {
  float: left;
  margin: 0px;
  padding: 0;
}

.sub-menu ul li {
  display: inline-block;
  margin: 0;
  padding: 17px 30px;
}

.sub-menu ul li a {
  color: #113340;
  text-decoration: none;
}

.sub-menu li:hover {
  background-color: #e2a413;
}

.search-bar {
  width: 400px;
  height: 30px;
  border-radius: 5px 0px 0px 5px;
  border-right: 0;
}

.search-icon {
  position: absolute;
  width: 34px;
  height: 36px;
}

.search {
  float: right;
  margin-right: 34px;
}

/*ad-top*/

.top-ad {
  display: grid;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  min-width: 1370px;
  height: 325px;
  margin-top: 20px;
  grid-template-columns: 2fr 1fr;
}

.top-ad-right {
  background-image: url("../images/advertising/nesna-kommune-84197237-1466155669493_redigert.jpg");
  background-repeat: no-repeat;
  background-size: 907px 325px;
  width: 907px;
  height: 100%;
  text-decoration: none;
}

.top-ad-right h1 {
  font-size: 42px;
  font-weight: bolder;
  text-decoration: none;
  color: #113340;
  margin: 0;
  margin-left: 25px;
}

.top-ad-right h2 {
  background-color: rgba(226, 164, 19, 0.9);
  width: 404px;
  height: 101px;
  font-size: 36px;
  color: #113340;
  margin: 0;
  margin-left: 25px;
}

.top-ad-right h3 {
  text-decoration: underline;
  color: #113340;
  font-weight: normal;
  font-size: 29px;
  margin-bottom: 0;
  margin-top: 60px;
  margin-left: 25px;
}

.top-ad-right button {
  float: right;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ccd9cc;
  width: 155px;
  height: 32px;
  border: 3px solid #e2a413;
  font-size: 19px;
  font-weight: bolder;
  margin-right: 25px;
  margin-top: 20px;
  cursor: pointer;
}

.top-ad-left {
  width: 446px;
  height: 100%;
  background-image: url("../images/advertising/raise-3338589_640.jpg");
  background-repeat: no-repeat;
  background-size: 446px 325px;
  text-decoration: none;
}

.top-ad-left h2 {
  background-color: #e2a413;
  color: #113340;
  height: 117px;
  width: 340px;
  margin-top: 208px;
  font-size: 32px;
  font-weight: 600;
  padding-left: 25px;
  padding-right: 81px;
}

@media (max-width: 880px) {
  .top-ad {
    grid-template-columns: auto;
  }
}
