body {
  margin: 0px;
}

header {
  background-color: #113340;
  width: 100%;
}

.advertising_top .ad_left {
  display: inline-block;
  background-image: url("../images/advertising/nesna-kommune-84197237-1466155669493_redigert.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 907px;
  height: 325px;
}

.advertising_top .ad_right {
  display: inline-block;
  background-image: url("../images/advertising/raise-3338589_640.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 446px;
  height: 325px;
}

.ad {
  float: left;
  max-width: 33.33%;
}

.advertising_bottom .ad_left {
  display: inline-block;
  background-image: url("../images/advertising/person-yellow-raincoat-gloomy-forest-hill-rain_272999-71.jpg");
  background-size: 446px 344px;
  background-repeat: no-repeat;
  width: 677px;
  height: 344px;
  background-color: #113340;
}

.advertising_bottom .ad_right {
  display: inline-block;
  background-image: url("../images/advertising/adventure-4891499_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 677px;
  height: 344px;
}

footer {
  background-color: #113340;
  width: 100%;
  height: 194px;
}
