.desctop {
  display: none;
}

.logo {
  background-image: url("../images/logo/RainyDays_Logo_gray_small.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 220px;
  height: 116px;
  margin: auto 0px auto 5px;
}

/*---- main page tablet ---*/
.mid-ad {
  display: grid;
  grid-template-columns: auto auto;
}

.bottom-ad {
  display: flex;
}

/*---selected product page----*/
.display-product {
  display: flex;
  position: relative;
  gap: 10px;
  min-height: auto;
}

.display-product h1 {
  position: absolute;
  left: 10px;
  top: 10px;
}

.product-image {
  margin: 10px;
  margin-top: 80px;
}

@media (max-width: 800px) {
  .product-image {
    flex-direction: column;
  }

  .secondary-image {
    height: min-content;
  }

  .secondary-image img {
    height: 80px;
  }
}

.display-product-text {
  margin: 10px;
  margin-top: 60px;
}

.display-product-cta {
  margin: 10px;
  margin-top: 80px;
}

/* ---- all product page----*/
@media (min-width: 1000px) {
  .product {
    grid-template-columns: auto 1fr auto;
  }

  .product-price {
    flex-direction: column;
    gap: 0;
    margin: 25px 5px 0px 10px;
  }

  .stock-section {
    left: 160px;
    bottom: 0;
  }

  .product-price h3,
  h4 {
    margin: 0;
    display: inline;
  }
}

/* ---contact page --------*/

.contact-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
}

.contact-info,
.open-info {
  text-align: left;
}

/*---shopping-cart and billing---*/
.cart-product {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.cart-amount-img {
  all: revert;
  margin: auto 5px auto auto;
}

.cart-product-price {
  all: revert;
  margin: auto 5px auto auto;
}

.cart-info {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  text-align: right;
}

.cart-info-item {
  text-align: left;
}



