.desctop {
  display: none;
}

.logo {
  background-image: url("../images/logo/RainyDays_Logo_gray_small.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 220px;
  height: 116px;
  margin: auto 0px auto 5px;
}

/*---- main page tablet ---*/
.mid-ad {
  display: grid;
  grid-template-columns: auto auto;
}

.bottom-ad {
  display: flex;
}

/*---product page----*/
.display-product {
  display: flex;
  position: relative;
  gap: 10px;
  min-height: auto;
}

.display-product h1 {
  position: absolute;
  left: 10px;
  top: 10px;
}

.product-image {
  margin: 10px;
  margin-top: 80px;
}

.display-product-text {
  margin: 10px;
  margin-top: 60px;
}

.display-product-cta {
  margin: 10px;
  margin-top: 80px;
}

/* ---contact page --------*/

.contact-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
}

.contact-info,
.open-info {
  text-align: left;
}

/* ---- all product page ---*/

@media (min-width: 975px) {
  .product-text {
    margin-right: 150px;
    width: 100%;
  }

  .product-price {
    all: revert;
    position: relative;
    top: 50px;
  }
}

/*-- product page ----*/
@media (max-width: 840px) {
  .product-image {
    flex-direction: column;
  }

  .secondary-image {
    height: min-content;
  }

  .secondary-image img {
    height: 80px;
  }
}
